---
import AppLayout from "../Layouts/AppLayout.astro";
import BaseSidebar from "@components/globals/BaseSidebar.vue";
---

<AppLayout>
    <section class="flex flex-1">
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos voluptate quia minima omnis
            porro
            reiciendis consequuntur soluta ab accusantium! Eos error distinctio perspiciatis vel consectetur. Dicta
            excepturi accusamus ea.
        </article>
        <BaseSidebar></BaseSidebar>
    </section>
</AppLayout>