---
import BaseHeader from "@components/globals/BaseHeader.vue";
import BaseFooter from "@components/globals/BaseFooter.vue";
import BaseHead from "@components/globals/BaseHead.astro";
import { Router } from "@Router/Router";


const pages = await Astro.glob("../pages/*.{astro, md}")
const router = new Router(pages).getRoutes();
---

<html>

<BaseHead></BaseHead>

<body>
    <main class="w-9/12 flex flex-col h-screen justify-between mx-auto ">
        <BaseHeader links={router}></BaseHeader>
        <slot />
        <BaseFooter></BaseFooter>
    </main>

</body>

</html>