---
import BaseHeader from "@components/globals/BaseHeader.vue";
import BaseFooter from "@components/globals/BaseFooter.vue";
import BaseHead from "@components/globals/BaseHead.astro";

import { router } from "../config";
---

<html>

<BaseHead></BaseHead>

<body>
    <main class=" w-11/12 flex flex-col h-screen justify-between m-auto">
        <BaseHeader links={router}></BaseHeader>
        <slot />
        <BaseFooter></BaseFooter>
    </main>
</body>

</html>