---
const pageTitle = import.meta.env.PAGE_TITLE
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="/main.css">
</head>